*,
*::before,
*::after {
  display: block;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  padding: 0;
  margin: 0;
}

div#stage {
  height: 720px;
  width: 1280px;
  position: relative;
  left: calc((100vw - 1280px) / 2);
  top: calc((100vh - 720px) / 2);
  background: limegreen;
  border: 1px solid green;
}