*,
*::before,
*::after {
  display: block;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  padding: 0;
  margin: 0;
}

div#stage {
  height: 720px;
  width: 1280px;
  background: limegreen;
}