
.message {
  position: relative;
  top: 15%;
  width: var(--width);
  padding-left: var(--padding);
}

.message-container {
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  justify-items: flex-start;
  align-items: flex-start;
}

.user-message {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  justify-items: flex-start;
  align-items: flex-start;
  margin: 0 0 25px 25px;
  animation: fade-in-left 1s ease 0s 1 normal forwards;
}

.message-exit {
  animation: fade-out-right 1s ease 0s 1 normal forwards;
}

.message-author {
  font-size: 1.5rem;
  margin: 0 0 25px 0;
  font-family: 'vcr-jp';
}

.message-body {
  font-size: 3rem;
  max-width: 720px;
}

.message > span { text-align: center; }

.pie-timer {
  position: relative;
  background: limegreen;
  border-radius: 50%;
  overflow: hidden;
  width: 85px;
  height: 85px;
}

.pie-timer .pie {
  width: 50%;
  height: 100%;
  transform-origin: 100% 50%;
  position: absolute;
  background: #000;
  border: 10px solid rgba(0,0,0,1);
}

.pie-timer .spinner {
  border-radius: 100% 0 0 100%/50% 0 0 50%;
  z-index: 200;
  border-right: none;
  -webkit-animation: rotate 10s linear infinite;
          animation: rotate 10s linear infinite;
}

.pie-timer:hover .spinner,
.pie-timer:hover .filler,
.pie-timer:hover .mask {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.pie-timer .filler {
  border-radius: 0 100% 100% 0/0 50% 50% 0;
  left: 50%;
  opacity: 0;
  z-index: 100;
  animation: opacity 10s steps(1, end) infinite reverse;
  border-left: none;
}

.pie-timer .mask {
  width: 50%;
  height: 100%;
  position: absolute;
  background: inherit;
  opacity: 1;
  z-index: 300;
  -webkit-animation: opacity 10s steps(1, end) infinite;
          animation: opacity 10s steps(1, end) infinite;
}

.song {
  position: relative;
  top: 15%;
  width: var(--width);
  padding-left: var(--padding);
}

.song-container {
  margin-top: 25%;
  font-size: 2rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  justify-items: flex-start;
  align-items: flex-start;
}

.song-album { display: none; }