@import url('/styles/fonts.css');

:root {
  --height: 720px;
  --width: 1280px;
  --padding: 96px;
  --color: transparent;
  --font: 'sono-bold'
}

*,
*::before,
*::after {
  display: block;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
}

#stage {
  font-weight: 400;
  height: var(--height);
  width: var(--width);
  position: relative;
  background-color: var(--color);
  overflow: hidden;
  font-size: 2.5rem;
  margin: 0 0 10px 0;
  font-family: var(--font);
  font-weight: 900;
}

#stage div.marquee {
  height: 75px;
  overflow: visible;
  position: relative;
}

#stage div.marquee span {
  display: inline;
  position: absolute;
  white-space: nowrap;
  line-height: 75px;
  text-align: justify;
  transform: translateX(100%);
  animation: scroll-left 30s linear 2;
}

#stage div.nowplaying {
  position: absolute;
  bottom: 75px;
  left: 75px;
}

#stage div.message {
  position: absolute;
  top: 150px;
  left: 75px;
}

#stage div.message span.message-author {
  margin-bottom: 15px;
}

#stage img.branding-image {
  position: absolute;
  filter: grayscale(1);
  bottom: 75px;
  right: 75px;
  height: 128px;
  width: 128px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}