@import url('/styles/fonts.css');
@import url('/styles/animations.css');
@import url('/styles/message.css');

:root {
  --height: 720px;
  --width: 1280px;
  --padding: 96px;
  --color: limegreen;
  --font: 'daydream'
}

*,
*::before,
*::after {
  display: block;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  padding: 0;
  margin: 0;
}

#stage {
  height: var(--height);
  width: var(--width);
  position: absolute;
  background-color: var(--color);
  overflow: hidden;
  font-size: 1.25rem;
  margin: 0 0 10px 0;
  font-family: var(--font);
  font-weight: 900;
}

.song,
.message {
  position: absolute;
  background: red;
}

.message-container {}

.message-container .pie-timer {}
.message-container .pie-timer .pie {}
.message-container .pie-timer .spinner {}
.message-container .pie-timer .filler {}
.message-container .pie-timer .mask {}

.message-container .user-message {}
.message-container .user-message .message-author {}
.message-container .user-message .message-body {}

